<h2>Chat Box:</h2>

<div class="col-md-5">
        <div *ngFor = "let messages of chat">
                <div *ngIf = "messages.from!=user">
                        <div *ngFor = "let message of messages.messages">
                                <p style="margin-right:100px;;background-color:lightgreen">{{message}}</p>
                            </div>
                    
                        
                    </div>
            
                    <div *ngIf = "messages.from==user">
                            <div  *ngFor = "let message of messages.messages">
                                    <p style="margin-left:150px;background-color:wheat">{{message}}</p>
                            </div>
                            
                        </div>
            </div>
</div>

<div class="row">
    <input [(ngModel)]="message" type="text" name="msg" id="msg">
    <button (click)="sendMessage()" class="btn">Send message</button>
</div>