<div class="container">

    <div style="margin-top:20px" class="row">
        <div class="col-md-offset-6">
            <button (click)="logout()" type="button" class="btn btn-info">Logout</button>
        </div>
      </div>

  <div class="row">
    
    <div class="col-md-1">
        <h2> Users online:</h2>
        {{numberOfOnlineUsers}}
        
        <div *ngFor="let user of loginUsers">
                <button (click)="displayChat(user)" class="btn btn-primary">{{user}}</button>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-9">
        <router-outlet></router-outlet>
    </div>

  </div>

</div>